<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Timetable</title>
</head>
<style>
	body{
		background-color: rgb(240, 227, 227);
	}
  nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 10vh;
		background-color: #333;
		color: #fff;
		padding: 0 1rem;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		}

		.nav-links {
		display: flex;
		justify-content: space-around;
		width: 30%;
		}
        .nav-links li{
			list-style-type: none;
			padding: 3%;
		}
		.nav-links li a {
		font-size: 1.2rem;
		/* text-transform: uppercase; */
		text-decoration: none;
		letter-spacing: 1px;
		color:blanchedalmond;
		}

		.burger {
		display: none;
		cursor: pointer;
		}

		.burger div {
		width: 25px;
		height: 3px;
		margin: 5px;
		background-color: #fff;
		}

		@media screen and (max-width: 768px) {
			.nav-links {
				width: 60%;
			}

			.burger {
				display: block;
			}

			.nav-active {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 90vh;
				position: absolute;
				top: 10vh;
				left: 0;
				z-index: 1;
				background-color: #333;
				transition: all 0.5s ease-in-out;
			}

			.nav-active li {
				opacity: 0;
			}

			.nav-active li a {
				font-size: 2rem;
			}

			.burger .line {
				width: 25px;
				height: 3px;
				margin: 5px;
				background-color: #fff;
				transition: all 0.5s ease-in-out;
			}

			.toggle .line1 {
				transform: rotate(-45deg) translate(-5px, 6px);
			}

			.toggle .line2 {
				opacity: 0;
			}

			.toggle .line3 {
				transform: rotate(45deg) translate(-5px, -6px);
			}
		}
		table{
            width:50%;
            background-color: rgb(241, 193, 160);
            border-radius: 15px;
            margin-left:25%;
            margin-top:15%;
            box-shadow: 0 0 40px rgba(176, 168, 238, 0.6);
        }
        th,td{
            padding-top: 2%;
            padding-bottom: 2%;
            text-align: center;
        }
  </style>
  <body>
    <nav>
      <!-- <div class="logo">
        <a href="#">Logo</a>
      </div> -->
      <ul class="nav-links">
        <li><a href="/examsection">Exams Timetable</a></li>
        <li><a href="/examsection/results">Results</a></li>
		<li><a href="/examsection/hallticket">Hallticket</a></li>
      </ul>
      <div class="burger"> 
        <div class="line">hi</div>
        <div class="line">hi2</div>
        <div class="line">hi3</div>
      </div>
      </nav>	  
    <h1>exam timetable </h1>
    <table>
        <tr>
            <th>course id </th>
            <th>exam date</th>
            <th>timings</th>
			<th>venue</th>
        </tr>
        <% edata.forEach(function(data) { %>
			<tr>
				<td id ="ci"><%= data.cid %></td>
				<td id="cn"><%= data.edate.toLocaleDateString('en-US')%></td>
                <td id ="ci"><%= data.timings %></td>
				<td id ="ci"><%= data.venue %></td>
			</tr>
		<% }); %>
    </table>
    <script>
      const burger = document.querySelector('.burger');
      const nav = document.querySelector('.nav-links');
      const navLinks = document.querySelectorAll('.nav-links li');
  
      burger.addEventListener('click', () => {
      // Toggle Nav
      nav.classList.toggle('nav-active');
  
      // Animate Links
      navLinks.forEach((link, index) => {
        if (link.style.animation) {
        link.style.animation = '';
        } else {
        link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
        }
      });
    });
    </script>
</body>
</html>